// # Front-end Style Guide

// ## Layout

// The designs were created to the following widths:

// - Mobile: 375px
// - Desktop: 1440px

// ## Colors

$color-white: hsl(0, 0%, 100%);
$color-light-gray: hsl(212, 45%, 89%);
$color-grayish-blue: hsl(220, 15%, 55%);
$color-dark-blue: hsl(218, 44%, 22%);

// ## Typography

// ### Body Copy

$font-size: 15px; // (paragraph)

// ### Font

// - Family: [Outfit](https://fonts.google.com/specimen/Outfit)
$font-family: "Outfit", sans-serif;
$weights-thin: 400;
$weights-large: 700;
